<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.zuckschwerdt.sdr-data</string>
				<string>dyn.ah62d4rv4ge80g7m2</string><!-- ?0=6:1=cu8 -->
				<string>dyn.ah62d4rv4ge80g632</string><!-- ?0=6:1=cs8 -->
				<string>dyn.ah62d4rv4ge80g63vg2</string><!-- ?0=6:1=cs16 -->
				<string>dyn.ah62d4rv4ge81gqm0</string><!-- ?0=6:1=s16 -->
				<string>dyn.ah62d4rv4ge80g63xgk</string><!-- ?0=6:1=cs32 -->
				<string>dyn.ah62d4rv4ge81gq3w</string><!-- ?0=6:1=s32 -->
				<string>dyn.ah62d4rv4ge80g3vxgk</string><!-- ?0=6:1=cf32 -->
				<string>dyn.ah62d4rv4ge80qq3w</string><!-- ?0=6:1=f32 -->
				<string>dyn.ah62d4rv4ge80g3xmrvwu</string><!-- ?0=6:1=cfile -->
				<string>dyn.ah62d4rv4ge80k2pyqe</string><!-- ?0=6:1=data -->
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C2872123-8DA1-42FE-8B63-D448687634DD</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>C2872123-8DA1-42FE-8B63-D448687634DD</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SDR data file</string>
			<key>UTTypeIdentifier</key>
			<string>org.zuckschwerdt.sdr-data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cu8</string>
					<string>cs8</string>
					<string>cs16</string>
					<string>s16</string>
					<string>cs32</string>
					<string>s32</string>
					<string>cf32</string>
					<string>f32</string>
					<string>cfile</string>
					<string>data</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
